body{
    background-image: url("images/back_ground 1.jpeg");  
    background-size: cover;  
    background-position: center;   
}
@media (max-width:768px){
    .pc-live{display:none;}
    .mobile-warning{
        display:block;
        text-align: center;
        padding:40px;
        font-size: 22px;
    }
}

#box1{
    height:250px;
    width:520px;
    float:left; 
    overflow:hidden;   
}
    
#box2{
    height:100px;
    width:700px;
    float:right;
    position: fixed;
    left:659px;    
}
#box3{
    height:300px;
    width:1200px;
    clear:both;
    opacity:0.8; 
}
#box4{
    height:auto;
    width:1200px;
    clear:both;
    overflow: visible;  
    opacity:0.8;  
}
.cert{
    color:rgb(231, 255, 13);
    font-size:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 3px 5px black;
}
#image{
    filter:brightness(1.3);
    filter:contrast(1.2);
    display:block;
    border: 5px solid rgb(28, 216, 28);
    border-radius: 50%;
    height:200px;
    width:200px;
    margin-left: 950px;
    margin-bottom: 1px;
    cursor:grab;
    position:absolute;
    top:150px;
    left:30px;
    box-shadow: 3px 3px 5px rgb(74, 196, 74);
}
#about {
  width: 60%;
  font-size: 20px;
  border-right: 3px solid green;
  white-space: pre-wrap;
  overflow: hidden;
  border-right: 3px solid green;
  animation: typing 3s steps(150), blink .10s step-end infinite;
}
@keyframes typing {
  from { width: 0; }
  to { width: 60%; }
}

@keyframes blink {
  from { border-color: transparent; }
  to { border-color: green; }
}
.typing {
  font-size: 22px;
  width: 25ch;               
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid green;
  animation: typing 3s steps(25) infinite alternate,
             blink .7s step-end infinite;
  position:absolute;
  top:350px;
  left:30px; 
  color:rgb(9, 238, 9);
  letter-spacing: 1px;  
  text-shadow: 2px -4px 4px black;        
}
@keyframes typing {
  from { width: 0; }
  to   { width: 25ch; }
}
.edit{
    background:repeating-linear-gradient(rgb(221, 141, 154),rgb(140, 189, 140));
    font-size: 19px;
    color:darkblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius:10px;
    transition:0.5s;
    padding:3px;
    letter-spacing: 1px;
    box-shadow: 3px 3px 5px black;

}
.edit:hover{
    background:repeating-radial-gradient(rgb(168, 30, 30),rgb(86, 86, 224),rgb(101, 207, 101));
    font-size: 20px;
    color:rgb(12, 0, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius:50px;
    transition:1s;
    cursor: pointer;
    opacity: 0.9;
    padding:5px;
    box-shadow: 3px -3px 5px orange;
}
ul li{
    display:inline;
    color:white;
    font-weight: bold;
}
a{
    text-decoration: none;
}
.fa-file{
    color:white;
    padding:5px;
    font-size: 23px;
}
.fa-square-linkedin{
    color:white;
    padding:5px;
    font-size: 23px;
}
.fa-github{
    color:white;
    padding:5px;
    font-size: 23px;
}
.fa-square-instagram{
    color:white;
    padding:5px;
    font-size: 23px;
}
.fa-file:hover{
    color:black;
    padding:6px;
    font-size: 26px;
    transition: 0.7;
}
.fa-square-linkedin:hover{
    color:blue;
    padding:6px;
    font-size: 26px;
    transition: 0.7;
}
.fa-github:hover{
    color:yellow;
    padding:6px;
    font-size: 26px;
    transition: 0.7;
}
.fa-square-instagram:hover{
    color:red;
    padding:6px;
    font-size: 26px;
    transition: 0.7;
}
#skill
{
    text-decoration: none;
    border:8px;
    color:white;
    font-size: 20px;  
    position: static;
    padding:5px;
    border-radius: 25px;
    text-shadow:3px -3px 5px black;
    box-shadow: 2px 3px 3px white;
    position:absolute;
}
#skill:hover{
    text-shadow:3px -3px 5px blue;
    box-shadow: 2px 3px 3px red;

}
h1{
    color:rgb(24, 211, 7);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    letter-spacing: 1.4px;
    text-shadow: 2px 2px 5px black;
    top:80px;
}
#about_me_title{
    margin-top: 40px;
}
.cert_p{
    font-size:25px;
    color:beige;
    font-display: swap;
    text-shadow: 2px 2px 3px black;
}
.link-c{
    color:rgb(233, 233, 10);
    font-size: 19px;
    border:24px;
    padding:5px;
    border-radius: 30px;
    background-color: blue;
}
.link-c:hover{
    color:black;
    font-size: 19px;
    border:24px;
    padding:5px;
    border-radius: 30px;
    background-color:yellow;
}


